[core]
  editor = nvim
  precomposeunicode = false
  quotepath = false
  pager = delta

  hookspath = ~/.config/git/hooks

[pager]
  difftool = true

[commit]
  verbose = true

[branch]
  sort = -committerdate

[remote]
  # “When you pull from one place (e.g. your upstream) and push to another
  # place (e.g. your own publishing repository), you would want to set
  # remote.pushDefault to specify the remote to push to for all branches […].”
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-branchnamepushRemote
  pushDefault = origin

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[merge]
  conflictstyle = zdiff3
  tool = vimdiff

[diff]
  # This option handles moved code better.
  # https://jvns.ca/blog/2024/02/16/popular-git-config-options/#diff-algorithm-histogram
  algorithm = histogram
  tool = difftastic

# https://git-scm.com/docs/git-difftool
[difftool]
  prompt = false

# https://difftastic.wilfred.me.uk/git.html
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[init]
  defaultBranch = main

[rebase]
  autostash = true
  autosquash = true

# https://git-scm.com/book/en/v2/Git-Tools-Rerere
[rerere]
  enabled = true

# These includes don’t contain personal information.
[include]
  path = ~/.config/git/aliases
  path = ~/.config/git/tig

# These includes may contain personal information.
[include]
  path = ~/.config/git/user
  path = ~/.config/git/urls

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
