[core]
  editor = vim
  precomposeunicode = false
  quotepath = false

  hookspath = ~/.config/git/hooks

[push]
  default = simple

[merge]
  conflictstyle = diff3

# These includes don’t contain personal information.
[include]
  path = ~/.config/git/aliases
  path = ~/.config/git/tig

# These includes may contain personal information.
[include]
  path = ~/.config/git/user
  path = ~/.config/git/urls
