[core]
  editor = vim
  precomposeunicode = false
  quotepath = false

[push]
  default = simple

# These includes don’t contain personal information.
[include]
  path = ~/.config/git/aliases

# These includes may contain personal information.
[include]
  path = ~/.config/git/user
